.modalBackground {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 92vh;
  background: rgba(255, 255, 255, 0.10); 
  backdrop-filter: blur(10px); 
}

.modalContainer {
  border: 2px solid #8c8c8c;
  z-index: 100;
  width: 80vw;
  max-width: 364px;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalTitle {
  font-family: "Space Grotesk", sans-serif;
  margin: 55px 0 0 28px;
  font-weight: 700;
  font-size: 32px;
}

.modalText {
  width: 85%;
  max-width: 500px;
  font-family: 'Space Grotesk', sans-serif;
  text-align: left;
  margin: 22px 28px 22px 28px;
}

.modalButton {
  width: 276px;
  height: 58px;
  border-radius: 10px;
  border: none;
  background: #b7ed82;
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: 30px auto 70px auto;
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
}

.modalButton:hover {
  cursor: pointer;
}

.modalHeading {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-top: 12px;
}

.modalSubHeading {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 28px;
  font-weight: 500;
  margin-top: 12px;
  max-width: 500px;
}

.resultsBoard {
  display: flex;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  gap: 7px;
  margin-top: 20px;
}

.resultsBoard > div {
  display: flex;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
}

.guess1 {
  background: #B7ED82;
}

.guess2 {
  background: #FFE37E;
}

.guess3 {
  background: #FFAD4E;
}

.guessFAIL {
  background: #FE8979;
}

#stats {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 42px;
  margin-top: 42px;
}

.statsDescription {
  margin-top: 5px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#closeIcon {
  position: absolute;
  top: 1%;
  right: 3%;
  width: 30px;
}

#closeIcon:hover {
  cursor: pointer;
}


#instructionsContainer {
  /* 5vh is height of NavBar */
  height: 92vh;
  z-index: 101;
  width: 100vw;
  /* max-width: 600px; */
  background: #FFF;
  position: absolute;
  border-top: 2px solid #8C8C8C;
  justify-content: center;
}

#instructions {
  z-index: 1000;
}

#instructionsTitle {
  font-family: "Space Grotesk", sans-serif;
  margin: 5% 0 0 9%;
  font-weight: 700;
  font-size: 32px;
}

.instructionsText {
  width: 300px;
  max-width: 300px;
  font-family: 'Space Grotesk', sans-serif;
  text-align: left;
  margin: 5px 28px 0 9%;
}

#rulesContainer {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  width: 300px;
  max-width: 340px;
}

#examplesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.exampleContainer {
  display: flex;
  margin-left: 9%;
  gap: 4px;
}

.exampleLetterbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 42px;
}

.exampleHeading {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  margin-left: 9%;
  margin-bottom: 5px;
}

.spaceFont {
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 2%;
}

#bottomText {
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 5px;
  margin-left: 9%;
  font-weight: bold;
}

#privacyPolicyContainer {
  /* 5vh is height of NavBar */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5vh);
  z-index: 101;
  width: 100vw;
  /* max-width: 600px; */
  background: #FFF;
  position: absolute;
  border-top: 2px solid #8C8C8C;
  justify-content: flex-start;
  align-items: center;
}

#miniPopUp {
  background-color: #696969;
  color: white;
  border-radius: 4px;
  padding: 8px 5px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  max-width: 200px;
  z-index: 10000;
  text-align: center;
}

#feedbackButton {
  width: 276px;
  height: 58px;
  border-radius: 10px;
  border: none;
  background: #D9D9D9;
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: -60px auto 20px auto;
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
}

#feedbackButton:hover {
  cursor: pointer;
}

@media (min-width: 500px) {
  #instructionsTitle {
    margin: 2% auto 3% auto;
    text-align: center;
  }

  .instructionsText {
    margin: 1vh auto 0 auto;
  }

  #rulesContainer {
    margin: 1vh auto 0 auto;
  }

  .exampleHeading {
    text-align: center;
    margin-left: -250px;
    margin-top: 1vh;
  }

  #examplesContainer {
    display: flex;
    justify-content: center;
    max-width: 350px;
    margin: 0 auto;
  }

  #bottomText {
    margin: 1vh auto 0 auto;
    text-align: center;
  }
}