#header {
  height: 9vh;
  min-height: 75px;
  max-height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 23px;
  border-bottom: 2px solid #8c8c8c;
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.icons {
  width: 36px;
  margin-left: 15px;
}

.icons:hover {
  cursor: pointer;
}

#title {
    padding-top: 31px;
    padding-left: 31px;
    margin-bottom: 15px;
}