#header {
  height: 8vh;
  /* min-height: 52px; */
  max-height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 23px;
  border-bottom: 2px solid #8c8c8c;
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blurred {
  filter: blur(10px);
}

.icons {
  width: 36px;
  margin-left: 15px;
}

.icons:hover {
  cursor: pointer;
}

#title {
  padding-top: 31px;
  padding-left: 31px;
  margin-bottom: 15px;
}

@media (max-width: 500px) {
  #header {
    height: 5vh;
  }

  #title {
    font-size: 24px;
    padding-top: calc(5vh / 2);
  }

  .icons {
    width: 4vh;
    padding-top: calc(5vh / 4);
  }
}
