#hint {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: black;
    text-transform: uppercase;
}

/* Media query for desktop screens */
@media (min-width: 500px) {
    #hint {
        margin: 20px 0;
    }
  }