.letterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.letterBox {
    width: 66px;
    max-width: 500px;
    height: 66px;
    background-color: red;
}

#focused {

}

input {
    border-radius: 10px;
    width: 66vw;
    border: 2px solid #8C8C8C;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    padding: 7px 0 6px 13px;
}