/* iPhone 12/13 Pro */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}

.letterBox {
  width: 59px;
  height: 59px;
  background-color: #fff;
  border: 2px solid #8c8c8c;
  font-family: "Space Grotesk", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

input {
  border-radius: 10px;
  width: 60vw;
  max-width: 500px;
  border: 2px solid #8c8c8c;
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  padding: 7px 0 6px 13px;
}

#active {
  background: #F1F1F1; 
}


.oneGuess {
  background: #b7ed82;
}

.twoGuesses {
  background: #ffe37e;
}

.threeGuesses {
  background: #ffad4e;
}

.failed {
  background: #fe8979;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(30deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-30deg); }
  100% { transform: rotate(0deg); }
}

#active.shaking {
  animation: tilt-shaking 0.3s;
}

/* iPhone Max */
/* .letterBox {
    width: 66px;
    height: 66px;
    background-color: red;
} */

/* .letterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

/* input {
    border-radius: 10px;
    width: 66vw;
    max-width: 500px;
    border: 2px solid #8C8C8C;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    padding: 7px 0 6px 13px;
} */